<p-panel class="ui-g ui-fluid" header="Please login">
  <div class="ui-g-12 ui-md-6">
    <span class="ui-g-12 ui-float-label">
      <input id="float-input" type="text" size="30" pInputText>
      <label for="float-input">Username</label>
    </span>
    <span class="ui-g-12 ui-float-label">
      <input id="float-input" type="text" size="30" pInputText>
      <label for="float-input">Password</label>
    </span>
    <p-footer>
      <p-button label="Login"></p-button>
    </p-footer>
  </div>
</p-panel>
